
.header__logo-area {
  display: flex;
  gap: .5em;
  width: 65px;
  justify-content: flex-start;
}

.header__logo {
  display: block;
}

.header__heading {
  color: var(--clr-teal-dark2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  z-index: 9999;
}

.header__menu {
  display: none;
}

.header__bars {
  color: var(--clr-teal-dark2);
  width: var(--size-2xl);
  height: var(--size-2xl);
  display: block;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}



/* md */
@media (min-width: 768px) {

  .header__menu {
    display: flex;
    align-items: center;

    list-style: none;
    padding: 0;
    gap: 2em;
    float: right;
  }
  
  .header__link a {
    text-decoration: none;
    font-weight: 600;
    font-size: var(--size-sm);
    color: var(--clr-teal-dark2);
    letter-spacing: -0.05em;
    transition: color 0.4s;
  }
  
  .header__link a:hover {
    color: var(--clr-orange1);
    border-bottom: 3px solid var(--clr-orange1);
  }
  
  .header__line {
    border: 1px solid var(--clr-stone600);
    padding-top: 1.5em;
  }
  
  .header__sun {
    display: block;
    color: var(--clr-teal-dark2);
    width: var(--size-base);
    height: var(--size-base);
    background: transparent;
  }

  .svg {
    transition: fill 4s;
  }
  
  .svg:hover {
    background: transparent;
    fill: orange;
    transition: fill 0.6s;
  }
  
  .header__bars {
    display: none;
  }
  
  .footer__info {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding-block: .5rem;
  }


}

/* lg */
@media (min-width: 1024px) {
  .header__link a {
    font-size: var(--size-sm);

  }
  
  .header__sun {
    width: var(--size-xl);
    height: var(--size-xl);
  }
  
  
  .header__resume {
    font-size: var(--size-sm);
  }
}

