.hero {
	margin-top: 0;
	position: relative;
}

.hero-image {
  border-radius: 0 0 5px 5px;
  object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	right: 30px;
	border: 1px solid rgba(119, 46, 0, 0.75);
  border-radius: 4px;
	padding: 1rem;
	box-shadow: 0 0 3rem #fff;
	background-color: #36529471;
  color: white;
  font-weight: 800;
  font-size: large;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.76);
}



.main-heading {
  text-align: center;
  text-decoration: underline;
  padding-block: 1rem;
  padding-inline: .5rem;
  font-size: var(--size-xl);
  color: var(--clr-navy);
  font-weight: bold;
}

.section2-ul {
  display: flex;
  flex-direction: column;
  gap: .5em;
  list-style: none;
  padding: 1rem;
  line-height: 1.8rem;
  margin-top: 1rem;
  overflow: auto;
  
}

.section2-ul a {
  text-decoration: none;
  color: var(--clr-navy);
  
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px #a0613dbc;
  border-radius: 5px;
  margin: .5rem;
  border: 1px solid var(--clr-orange);
  background-color: transparent;
  height: 20rem;
  margin-bottom: 0;
  color: var(--clr-navy);
  overflow: auto;
}

.card-links:hover {
  color: var(--clr-orange);
  text-decoration: underline;
}

h3 {
  background-color: var(--clr-orange);
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  padding-block: .5rem;
  color: #f5f5f4;
  font-size: 1rem;
}

.card2-paragraph {
  padding: 1rem;
  margin-top: 1rem;
}

.map {
  display: grid;
  place-content: center;
  margin-bottom: 1rem;
}

iframe {
  border: 1px solid var(--clr-orange);
  border-radius: 5px;
  box-shadow: 1px 1px 5px #a0613dbc;
}
